alembic==1.7.1
asyncpg==0.24.0
fastapi==0.68.1
numpy==1.21.2
openpyxl==3.0.8
orjson==3.6.3
pydantic==1.8.2
python-dotenv==0.19.0
python-multipart==0.0.5
scikit-learn==0.24.2
scipy==1.7.1
SQLAlchemy==1.4.23
uvicorn==0.15.0
